@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2 class="mt-2">
    <a class="btn btn-danger" style="float:right;color:white" href="@Url.Action("Index","UsersAdmin")">
        <i class="fas fa-chevron-circle-left" style="margin-right:10px"></i>Back
    </a>
    Details User
</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<h4>List of roles for this user</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>No roles found for this user.</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    <a class="btn btn-success" style="color:white" href="@Url.Action("Edit","UsersAdmin", new { id = Model.Id })">
        <i class="fas fa-edit" style="margin-right:10px"></i>Edit
    </a>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @*@Html.ActionLink("Back to List", "Index")*@
</p>



